@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
html{
  font-size: 62.5%;
}
body{ 
  font-size: 1.6rem;

}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li a,a{
  text-decoration: none;
}
.container{
  max-width: 1340px;
  width: 100%;
  margin:0 auto;
}
.banner_main {
  background: #FCEEF1;
  padding-top: 20px;
}
.banner_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flower img {
  height: 403px;
  width: auto;
}
.banner_text_area{
  max-width: 600px;
}
h1 {
  font-size: 48px;
}
h3 {
  font-size: 35px;
}
.banner_text_area p{
  padding: 20px 0 25px 0;
}
.btn-style {
  background: #E55473;
  color: #ffff;
  display: inline-block;
  padding: 11px 22px;
  border-radius: 5px;
}

/* three item area start  */
.three_area{
  padding: 90px 0 50px 0;
}
.header_top{
  max-width: 600px;
  width: 100%;
  margin: auto;
  text-align: center;
}

/* therre items  */
.three_text{
  display: flex;
  gap: 3%;
  justify-content: center;
  height: 100%;
}
.single_three_item{
  flex: 0 0 31%;
  text-align: center;
  height: 100%;
}
.three_img {
  background-color: gray;
  border-radius: 50% 50% 0 0;
  height: 100%;
}
.three_img img {
  width: 300px;
  height: auto;
  padding-top: 50px;
}